<h2 mat-dialog-title>Tarea</h2>
<mat-dialog-content class="task-form__container" [formGroup]="form">
  <mat-form-field
    appearance="outline"
    class="task-form--padding-top"
    [style.marginBottom]="getGap(isTitleRequiredError)"
  >
    <mat-label>Titulo</mat-label>
    <input matInput formControlName="title" required />
    <mat-error *ngIf="isTitleRequiredError"> Titulo es requerido. </mat-error>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    [style.marginBottom]="getGap(isDescriptionRequiredError)"
  >
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="description" required></textarea>
    <mat-error *ngIf="isDescriptionRequiredError">
      Descripción es requerida.
    </mat-error>
  </mat-form-field>
  <mat-form-field
    appearance="outline"
    [style.marginBottom]="getGap(isCreatedAtRequiredError)"
  >
    <mat-label>Fecha de creación</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="createdAt"
      required
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="isCreatedAtRequiredError">
      Fecha de creación es requerida.
    </mat-error>
  </mat-form-field>
  <mat-checkbox formControlName="completed">
    <mat-label>Completado</mat-label>
  </mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancelar</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>
