.task-item {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    padding: 1rem;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    column-gap: 0.5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }


  &__title {
    font-weight: 500;
    font-size: x-large;
    padding: 0%;
    margin: 0%;
  }


  &__body {
    font-size: medium;
    padding: 0%;
    margin: 0%;
  }

  &__description {
    font-size: medium;
    padding: 0%;
    margin: 0%;
  }

  &__completed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    width: 100%;

  }

  &__chip {
    font-size: medium;
    padding: 0%;
    margin: 0%;
    max-width: min-content;

    &--finished {
      background-color: rgb(79, 136, 79);
      color: white;
    }

    &--pending {
      background-color: rgb(180, 72, 72);
      color: white;
    }
  }


}