.task-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
  padding: 1rem;
}

.task-item-container__actions {
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
}

.task-item-container__info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.task-item-container__title {
  font-weight: 500;
  font-size: x-large;
  padding: 0%;
  margin: 0%;
}

.task-item-container__description {
  font-size: medium;
  padding: 0%;
  margin: 0%;
}

.task-item-container__body {
  font-size: medium;
  padding: 0%;
  margin: 0%;
}