<mat-list-item>
  <mat-card>
    <mat-card-content class="task-item-container">
      <div class="task-item-container__info">
        <p class="task-item-container__title">title</p>
        <p class="task-item-container__description">description</p>
        <p class="task-item-container__body">status</p>
        <p class="task-item-container__body">created_at</p>
      </div>
      <div class="task-item-container__actions">
        <button mat-icon-button>
          <mat-icon>edit_square</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</mat-list-item>
