<mat-list-item>
  <mat-card>
    <mat-card-content class="task-item__container">
      <div class="task-item__info">
        <p class="task-item__title">{{ task.title }}</p>
        <p class="task-item__description">
          Descripción: {{ task.description }}
        </p>

        <p class="task-item__description">
          Estado:
          <mat-chip aria-label="Fruit selection" class="task-item__chip">
            <span class="task-item__completed">
              {{ task.completed ? "Completo" : "Pendiente" }}
              <mat-icon>
                {{ task.completed ? "check_circle" : "pending" }}
              </mat-icon>
            </span>
          </mat-chip>
        </p>

        <p class="task-item__body">
          Fecha de creación: {{ task.createdAt | date : "dd/MM/yyyy" }}
        </p>
      </div>
      <div class="task-item__actions">
        <button mat-icon-button (click)="onEdit()">
          <mat-icon matTooltip="Editar tarea">edit_square</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete()">
          <mat-icon matTooltip="Eliminar tarea">delete</mat-icon>
        </button>
        <div class="task-home__checkbox">
          <mat-checkbox
            (change)="onChangeCompleted($event)"
            [checked]="task.completed"
          ></mat-checkbox>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-list-item>
