<div class="task-home__container">
  <div class="task-home__header">
    <p class="task-home__title">Tasks list</p>
    <button mat-icon-button matTooltip="Close session" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <div>
    <button mat-stroked-button (click)="onChangeOrder()">
      Orden: {{ isOrderDesc ? "Descendente" : "Ascendente" }}
    </button>
  </div>
  <app-task-list [tasks]="tareas$"></app-task-list>
  <button
    class="task-home__fab-button"
    mat-fab
    matTooltip="Add new task"
    (click)="onOpenDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
