<div class="task-home__container">
  <div class="task-home__header">
    <p class="task-home__title">Lista de Tareas</p>
    <button mat-icon-button matTooltip="Cerrar sesión" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <div>
    <button mat-stroked-button (click)="onChangeOrder()">
      Orden: {{ isOrderDesc ? "Descendente ⬇️" : "Ascendente ⬆️" }}
    </button>
  </div>
  <app-task-list
    [tasks]="tasks$"
    (completedTask)="updateTask($event)"
  ></app-task-list>
  <button
    class="task-home__fab-button"
    mat-fab
    matTooltip="Add new task"
    (click)="onOpenDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
