<mat-card class="login-form__container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content class="login-form__container-body">
      <div class="login-form__image"></div>
      <mat-form-field class="login-form__input" appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <button mat-flat-button type="submit" class="login-form__button">
        Ingresar
      </button>
    </mat-card-content>
  </form>
</mat-card>
